@use "styles/pages/_landing2.scss";
@use "styles/pages/_home-default.scss";
@use "styles/pages/_shop.scss";
@use "styles/pages/_contact.scss";
@use "styles/pages/_team-single.scss";
@use "styles/pages/_login.scss";
