:root {
  --cor-primaria: #728062; /* Azul */
  --cor-secundaria: #557c70; /* Verde */
  --cor-terciaria: #d4a373; /* Vermelho */
  --cor-fundo: #f5f8e5; /* Cinza claro */
  --cor-texto-titulo: #546142;
  --cor-texto-corpo: #4a4a32; /* Texto escuro */
}

@font-face {
  font-family: "Boheme Floral"; /* Nome personalizado para a fonte */
  src: url("/fonts/Boheme Floral.ttf") format("truetype"); /* Caminho para a fonte */
  font-weight: normal; /* Peso da fonte (opcional) */
  font-style: normal; /* Estilo da fonte (opcional) */
}
