@use "styles/scss/helpers/_variables.scss" as *;
@use "styles/scss/base/_base.scss";

body {
  font-family: var(--font-jost);
  font-size: $base-font-size + px;
  color: $text-color;
  background-color: $body-bg-color;
}

//
